<% if logged_in? %>
	<%= render "shared/user_info" %>
	<%= render "shared/micropost_form" %>

<% else %>
	<div id="wrap">
      <div class="content">
        <h1>Knowledge is power  by  Francis Bacon</h1>
        <p>このWebアプリケーションでは、ユーザー登録すると、コメントを投稿できたり、自分のプロフィールを編集することができます。<br>
        また、CookieとSessionを実装してあるので、ユーザー情報はブラウザかサーバーに保存されており、改めてログインする手間が省けます。
        </p>
        <p class="btn"><a href="<%=signup_path %>">Sign Up</a></p>
      </div>
    </div>
	
<% end %>