<% provide(:title,@user.name) %>

<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>
<div>
	<% if @user.microposts.any? %>
		<h3>Microposts(<%= @user.microposts.count %>)</h3>
		<ol>
			<%= render @microposts %>
		</ol>
	<% end %>
</div>