<% provide(:title,@user.name) %>

<div class="micropost">
	<% if @user.microposts.any? %>
		<h3 class="count">Microposts(<%= @user.microposts.count %>)</h3>
		<ol >
			<%= render @microposts %>
		</ol>
	<% end %>
</div>